
.cart-container.hidden{
    transform: translateX(100%);
}

.cart-container.visible{
    transform: translateX(0);
}


.cart-container {
    position: fixed;
    top:0;
    bottom: 0;
    right: 0;
    display: flex;
    transition: transform 0.3s ease-in-out;
    flex-direction: column;
    align-items: left;
    background-color: #9184A0;
    box-shadow: -5px 0px 7px rgba(0,0,0,0.25);
    max-width: 100%;
    z-index: 100;
}

.cart-sidebar{
    background-color: #9184A0;
    /*margin-left: 20px;
    margin-right: 20px;*/
    width: 400px;
    max-width: 100%;
    /*box-shadow: -5px 0px 7px rgba(0,0,0,0.25);*/
    padding: 20px;
    height: 100%;
    overflow: auto;
}

.cart-sidebar::-webkit-scrollbar{
    width: 0;
}



.close {
    background-color: #9184A0;
    border: none;
    align-self: flex-start;
}

.foot h3{
    font-family: "Bodoni 72 Oldstyle";
    font-size: 24px;
    font-weight: bold;
    color: #231F23;
}

.cart-button {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    font-family: "OPTIPosterBodoni-Compr";
}

.button1 {
    background-color: #9184A0;
    border: #231F23 2px solid;
    border-radius: 30px;
    font-family: "OPTIPosterBodoni-Compr";
    font-size: 40px;
    color: #231F23;
    padding-left: 10px;
    padding-right: 10px;
}

.button2 {
    background-color: #231F23;
    border-radius: 30px;
    border: none;
}

.button2 a {
    font-family: "OPTIPosterBodoni-Compr";
    font-size: 40px;
    color: #9184A0;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
}

.cart-item-container {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-right: 20px;
    margin-left: 20px;
}


/* styling the individual cart item*/
.cart-item {
    display: flex;
    flex-direction: row;
    border-bottom: #231F23 4px solid;
    padding-bottom: 20px;
    padding-top: 20px;
}

.pro-img{
    height: 75px;
    border: #231F23 4px solid;
    padding: 20px;
}

.cart-item h1 {
    font-size: 36px;
    margin-top: 0;
    border-bottom:#231F23 4px solid;
}

.cart-item h2, h3{
    font-family: "Bodoni 72 Oldstyle";
    font-size: 16px;
    color: #231F23;
    font-weight: bold;
}

.cart-details {
    display: flex;
    flex-direction: row;
    padding: 20px;
    padding-top: 0;
}

.prices-main {
    font-size: 80px;
    border-bottom: #231F23 4px solid;
    margin:0;
}

.quantity-section{
    margin-right: 40px;
}



.quantity{
    background-color: #9184A0;
    border: #231F23 2px solid;
    font-family: "OPTIPosterBodoni-Compr" ;
    font-size: 30px;
    width: 35px;
    color: #231F23;
    text-align: center;
    margin-left: 50px;
}

#quantity {
    margin-bottom: 20px;
    font-size: 16px;
}

.left {
    border-left: #231F23 4px solid;
    padding-left: 20px;
}