@import url(/css/reset.css);
@import url(/css/footer.css);
@import url(/css/header.css);

@font-face {
    font-family: "BodoniPoster";
    src: url(typefaces/OPTIPosterBodoni-Compr.otf) format('otf');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Bodoni 72 Oldstyle";
    src: url(typefaces/Bodoni72-OldStyle.ttc) format('ttc');
    font-style: normal;
    font-weight: normal;
}

:root {
    background-color: #9184A0;
    color: #231F23;
    color: #63596F;
}

p {
    font-family: "Bodoni 72 Oldstyle";
    color: #231F23;
    font-style: normal;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.5rem;
}

h1 {
    color: #231F23;
    font-family: "OPTIPosterBodoni-Compr";
    font-style: normal;
    font-size: 72px;
    font-weight: 500;
    line-height: normal;
    margin: 1rem;
}

.back-button {
    background-color: #9184A0;
    border: none;
}


.close {
    background-color: #9184A0;
    border: none;
    align-self: flex-start;
}



.root{
    width: 60%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 20px;
}

.cart-sidebar{
    background-color: #9184A0;
    margin-left: 20px;
}

.foot h3{
    font-family: "Bodoni 72 Oldstyle";
    font-size: 24px;
    font-weight: bold;
    color: #231F23;
}

.cart-button {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    font-family: "OPTIPosterBodoni-Compr";
}

.button1 {
    background-color: #9184A0;
    border: #231F23 2px solid;
    border-radius: 30px;
    font-family: "OPTIPosterBodoni-Compr";
    font-size: 40px;
    color: #231F23;
    padding-left: 10px;
    padding-right: 10px;
}

.button2 {
    background-color: #231F23;
    border-radius: 30px;
    border: none;
}

.button2 a {
    font-family: "OPTIPosterBodoni-Compr";
    font-size: 40px;
    color: #9184A0;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
}

.cart-item-container, .cart-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cart-item-container {
    margin-right: 20px;
}


/* styling the individual cart item*/
.cart-item {
    display: flex;
    flex-direction: row;
    border-bottom: #231F23 4px solid;
    padding: 20px;
}

.pro-img{
    height: 150px;
    border: #231F23 4px solid;
    padding: 20px;
}

.cart-item h1 {
    font-size: 36px;
    margin-top: 0;
    border-bottom:#231F23 4px solid;
}

.cart-item h2, h3{
    font-family: "Bodoni 72 Oldstyle";
    font-size: 24px;
    color: #231F23;
    font-weight: bold;
}

.cart-details {
    display: flex;
    flex-direction: row;
}

.prices-main {
    font-size: 80px;
    border-bottom: #231F23 4px solid;
    margin:0;
}

.quantity-section{
    padding-top: 10px;
    margin-right: 40px;
    margin-left: 20px;
}

.minus-increment, .plus-increment {
    background-color:#9184A0;
    border: none;
}

.minus-increment img, .plus-increment img{
    width: 75%;
}

.quantity{
    background-color: #9184A0;
    border: #231F23 2px solid;
    font-family: "OPTIPosterBodoni-Compr" ;
    font-size: 60px;
    width: 75px;
    color: #231F23;
    text-align: center;
}

#quantity {
    margin-bottom: 20px;
    font-size: 24px;
}

.left {
    border-left: #231F23 4px solid;
    padding-left: 20px;
}





.main-body {
    display: flex;
    flex-direction: row;
}

/*styling the order summary left hand side*/
.order-summary {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-right: #231F23 4px solid;
    margin-bottom: 30px;
    padding: 10px;
}

.heading{
    font-size: 48px;
}

.pro1, .pro2 {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    margin-left: 20px;
}

.pro1 img, .pro2 img {
    height: 50px;
    border: #231F23 2px solid;
    padding: 10px;
}

.pro1 h1, .pro2 h1 {
    font-size: 24px;
    margin-top: 0;
}

#price{
    border-left: 2px solid #231F23;
    padding-left: 15px;
}

.total {
    border-top: #231F23 4px solid;
    padding-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.total h3{
    font-family: "Bodoni 72 Oldstyle";
    font-weight: bold;
    font-size: 20px;
    color: #231F23;
}

.total h4{
    font-family: "OPTIPosterBodoni-Compr";
    font-size: 36px;
    color: #231F23;
    text-align: right;
}

.foot{
    border-top: 4px solid #231F23;
    padding-top: 10px;
    margin: 20px;
}

.foot h1{
    font-size: 60px;
    text-align: right;
    margin-right: 0;
}

.order-summary button{
    font-family: "OPTIPosterBodoni-Compr";
    font-size:24px;
    margin: 20px;
    border: #231F23 2px solid;
    border-radius: 50px;
    padding: 5px;
    background-color: #9184A0;
    width: 120px;
}

.order-summary a {
    text-decoration: none;
    color: #231F23;
}

/*styling the form on right hand side*/
.info-container{
    width: 100%;
}
.title {
    font-size: 48px;
    margin: 0;
}

.subtitle {
    font-family: "Bodoni 72 Oldstyle";
    color: #231F23;
    margin-top: 10px;
    margin-bottom: 10px;
}

.input {
    background-color: #9184A0;
    border: #231F23 1px solid;
    font-family: "Bodoni 72 Oldstyle";
    color: #63596F;
}

input::placeholder{
    color: #63596F;
    font-style: italic;
}

.info-container form{
    border-bottom: #231F23 4px solid;
    margin-left: 20px;
    margin-right: 20px;
    padding-bottom: 20px;
}

.info-container button{
    font-family: "OPTIPosterBodoni-Compr";
    background-color: #231F23;
    border-radius: 50px;
    border: #231F23;
    margin: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
}

.info-container button>a{
    font-size: 48px;
    text-decoration: none;
    color: #9184A0;
}






@media (max-width: 768px) {
    .header {
        flex-direction: column;
        align-items: flex-start;
    }

    .menu-bar ul {
        flex-direction: column;
        width: 100%;
    }

    .menu-bar li {
        margin-right: 0;
    }

    .menu-bar li a {
        font-size: 20px;
    }

    .menu-icon {
        padding-right: 0;
    }

    .button {
        font-size: 24px;
        height: auto;
        padding: 10px 20px;
        margin-left: 0;
        margin-top: 10px;
    }

    .introduction {
        flex-direction: column;
        padding: 1rem;
    }

    #intro-para {
        width: 100%;
        border: none;
        padding-right: 0;
        margin-bottom: 1rem;
    }

    .bestsellers-container, .our-collections-container,
    .set-bundles-container {
        flex-direction: column;
        align-items: center;
    }

    .product-card {
        width: 100%;
    }
}

@media (max-width: 390px) {
    h1 {
        font-size: 48px;
    }

    .header {
        padding-left: 10px;
        padding-right: 10px;
    }

    .menu-bar li a {
        font-size: 18px;
        padding: 5px 10px;
    }

    .product-card {
        width: 90%;
    }

    .button {
        font-size: 20px;
    }
}






