
.header {
    display: flex;
    /*flex-wrap: wrap;*/
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    position: fixed;
    top: 0;
    background-color: #9184A0;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 0px 5px 7px rgba(0,0,0,0.25);
}

#menu-icon{
    background-color: #9184A0;
    border: none;
    display: none;
    cursor: pointer;
}

.logo {
    width: 120px; 
}

.menu-bar {
    font-family: OPTIPosterBodoni-Compr;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    margin: 5px;
}

.menu-bar {
    list-style: none;
    display: flex;
}

.menu-bar > li {
    position: relative;
    border-right: 2px solid #231F23;
}

.menu-bar > li > a {
    text-decoration: none;
    color: #231F23;
    font-size: 30px;
    padding: 10px 15px;
    display: block;
}

.menu-bar > li:hover > a {
    background-color: #63596F;
}

.dropdown {
    list-style: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #9184A0;
    display: none;
    min-width: 150px;
}

.menu > li:hover .dropdown {
    display: block;
}


.menu-icon {
    display: flex;
    padding-right: 40px;
}

.menu-icon img {
    padding-left: 1rem;
    width: 2rem;
}

.menu-icon button {
    background-color: #9184A0;
    border: none;
    cursor: pointer;
}



@media (max-width: 768px) {
    .header {
        flex-wrap: nowrap;
        padding-right: 10px;
        padding-right: 10px;
        justify-content: space-between;
    }

    .menu-bar{
        display: none;
        flex-direction: column;
        width: 100%;
    }

    .menu-bar.show{
        display: flex;
        background-color: #231F23;
    }

    .menu-bar > li {
        width: 100%;
        border-bottom:#9184A0 4px solid;
        border-right: none;
    }

    .menu-bar > li > a {
        font-size: 1.5rem;
        padding: 0.625rem 1.25rem;
    }

    .menu-bar > li:hover > a {
        background-color: #63596F;
    }

    #menu-icon {
        display: block;
    }

    #search {
        display: none;
    }

    .button {
        font-size: 24px;
        height: auto;
        padding: 10px 20px;
        margin-left: 0;
        margin-top: 10px;
    }

    .header {
        padding-right: 40px;
    }
}

@media (max-width: 390px) {
    h1 {
        font-size: 48px;
    }

    .header {
        padding-left: 10px;
        padding-right: 10px;
    }

    .menu-bar li a {
        font-size: 18px;
        padding: 5px 10px;
    }

    .product-card {
        width: 90%;
    }

    .button {
        font-size: 20px;
    }
}


